@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-neumorphic {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.07), -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.shadow-neumorphic-button {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), -8px -8px 10px rgba(255, 255, 255, 1);
}

.shadow-neumorphic-inset {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.05), inset -4px -4px 4px rgba(255, 255, 255, 0.6);
}

.shadow-neumorphic-inset-button {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 1);
}

.shadow-neumorphic-purple {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 1);
}